html {
    background-image: linear-gradient(to right, rgba($color-primary-1-dark, .5) 0%, rgba($color-primary-1-dark, .5) 100%),
    url(../images/bg-intro-desktop.png);
    background-size: cover;
}

.main {
  height: 90vh;
  display: flex;
  align-content: center;

  @include responsive(mobile) {
    height: 100vh;
    padding-bottom: 5rem;
  }   
}

.landing {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  width: 75%;
  margin: auto;

  @include responsive(mobile) {
    flex-flow: column nowrap;
    align-self: center;
    width: 100%;
    padding: 0;
  }

  &__left,
  &__right {
    flex: 0 1 48%;
  }

  &__left {
    display: flex;
    align-content: center;

    @include responsive(mobile) {
      margin: auto;
      margin-bottom: 6rem;
      flex: 0 1 100%;
    }
  }

  &__info {
    margin-left: auto;
    // max-width: 54ch;
    align-self: center;

    @include responsive(mobile) {
      text-align: center;
      margin: auto;

    }
  }

  .main-title {
    font-weight: 700;
    font-size: 4.5rem;
    display: inline-block;
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 5rem;

    @include responsive(mobile) {
      font-size: 3rem;
    }
  }

  .main-description {
    line-height: 1.5;

    @include responsive(mobile) {
      font-size: 1.5rem;
      max-width: 32ch;
      margin: auto;
    }    
  }

}


.fine-print {
  text-align: center;
  color: $color-neutral-2;
}